<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} !^(.*)\.nsuem\.ru$ [NC] 
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ http://ideaidealy.nsuem.ru%{REQUEST_URI} [L,R]

    RewriteCond %{HTTP_HOST} !^(.*)\.nsuem\.ru$ [NC] 
    RewriteCond %{SERVER_PORT} 443
    RewriteRule ^(.*)$ https://ideaidealy.nsuem.ru%{REQUEST_URI} [L,R]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:WWW-Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:WWW-Authorization}]
</IfModule>

php_value upload_max_filesize 20M
php_value post_max_size 20M
